.row,  .card{
    margin: 0px;
}

.card-container{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


.dropper{
    height: 400px;
    background-color: green;
    display: none;
    padding-left: 0px;
    padding-right: 0px;
}