.row,  .card{
    margin: 0px;
}

.card-container{
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.dropper{
    height: 400px;
    background-color: green;
    display: none;
    position: relative;
    z-index: 10;
}