.row,  .card{
    margin: 0px;
}

.card-items{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.card-container{
    margin-top: 30px;
}


.dropper{
    height: 500px;
    background-color: green;
    display: none;
    padding-left: 0px;
    padding-right: 0px;
    text-align:center;
    font-size: 60px;
}