{% load static %}
<html>

<head>
    <title>A&I Construction</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'aiconstruct/home.css' %}">
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
          <strong>
                A&I Constructions Inc.
          </strong>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Home</li>
        <li><a href="badges.html">Samples of Work</a></li>
        <li>Contact us</li>
        <li><a href="/admin/">Admin</a></li>
      </ul>
    </div>
  </nav>
  <div class="card-container">
    <div class="row">
        <div class="col s12 card-items"  id="float_card">
          <div class="dropper" id="samples-extra"></div>
          <div class="card blue-grey darken-1"style="height: 25vh; overflow: hidden; display: flex; flex-direction: column;background: lightgray;">
            <div class="card-content white-text" style="flex: 1;">
              <span class="card-title">
                  Samples of Work
              </span>
              <p>
                  content
              </p>
               <p>
                   more content
               </p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col s12 card-items"  id="float_card">
          <div class="dropper" id="brands-extra"></div>
          <div class="card blue-grey darken-1"style="height: 25vh; overflow: hidden; display: flex; flex-direction: column;background: lightgray;">
            <div class="card-content white-text" style="flex: 1;">
              <span class="card-title">
                  Brands Offered
              </span>
              <p>
                  content
              </p>
               <p>
                   more content
               </p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col s12 card-items"  id="float_card">
          <div class="dropper" id="service-extra"></div>
          <div class="card blue-grey darken-1"style="height: 25vh; overflow: hidden; display: flex; flex-direction: column;background: lightgray;">
            <div class="card-content white-text" style="flex: 1;">
              <span class="card-title">
                  Services
              </span>
              <p>
                  content
              </p>
               <p>
                   more content
               </p>
            </div>
          </div> 
        </div>
      </div>
  </div>
  <script>
    /* var x = 0 */
    $(document).on("click", ".card", function(){
      /* if (x == 0)
      {
        $(this).parent().children(".dropper").fadeIn()
        $(this).parent().children(".card blue-grey darken-1").fadeOut()
        $(this).parent().children(".card-container").css({'padding-right':'0px'});
        $(this).parent().children(".card-container").css({'padding-left':'0px'});
        x = 1
      }
      else
      {
        $(this).parent().children(".dropper").fadeOut()
        $(this).parent().children(".card blue-grey darken-1").fadeIn()
        $(this).parent().children(".card-container").css({'padding-right':'50px'});
        $(this).parent().children(".card-container").css({'padding-left':'50px'});
        x = 0
      } */
      $(".card").slideDown()
      $(".dropper").slideUp()
      $(this).slideUp()
      $(this).parent().children(".dropper").slideDown()

    })
    
  </script>
</body>
</html>